{% extends "shared/_layout.html" %}

{% block content %}

<h1>RSVP Home</h1>
<a href="{% url "rsvp:add" %}">Add RSVP</a>

<!-- RSVP BY FAMILY -->
{% for rsvp_f in rsvps_by_family %}
    <h4>{{ rsvp_f.name }}</h4>
    <ul>
    {% for member in rsvp_f.people %}
        <li>{{ member }}</li>
    {% endfor %}
    </ul>
{% endfor %}

<hr>

<!-- All RSVPS -->
{% for rsvp in rsvps  %}
    <div class="question">
        <p><b>{{ rsvp.name }}</b> is bringing {{ rsvp.numGuests }} people. [ {{ rsvp.member }} ]</p>
        <a href="{% url "rsvp:delete" pk=rsvp.pk %}">Delete</a>
    </div>
{% endfor %}

{% endblock content %}