{% extends "shared/_layout.html" %}

{% block content %}

<h1>Events</h1>

<div class="events">

    <!-- Events Loop -->
    {% for event in events %}
        <div class="event">

            <!-- Name -->
            <h3><a href="{% url 'events:detail' pk=event.pk %}">{{ event.name }}</a></h3>
            
            <!-- Description -->
            {% if event.description %}
                <p><i>{{ event.description }}</i></p>
            {% endif %}
            
            <!-- Time Start -->
            <p>{{ event.time_start | date }}</p>
            <p>{{ event.time_start | time }} - {{ event.time_end | time }}</p>
            
        </div>        
    {% endfor %}
</div>


{% endblock content %}