.container {
    width: 80%;
    margin: 0 auto;
}
body {
    background-color: $white;
    border: 12.5px solid $gold;
    // border-right: 10px solid $gold;
    // border-left: 10px solid $gold;
    // border-top: 10px solid $gold;
    // border-bottom: 10px solid $gold;
    padding: 1% 0 3%;
    min-height: 100vh;
}

header {
    nav ul {
        display: flex;
        justify-content: space-around;
        padding: 0.5em 20%;
    }
}